@tailwind base; 
@tailwind components; 
@tailwind utilities; 

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Sora';
  color: #262626;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.connectButtonContainer button{
  width: 100%;
  text-align: center !important;
}