.layout {
    padding: 1rem;
    min-height: 100vh;
    background: linear-gradient(90deg, #fddb92 0%, #d1fdff 100%);
}

.footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
}

.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}